<div class="container mx-auto p-6 max-w-lg">
  <h2 class="text-2xl font-bold mb-6 text-center">Editar Niño</h2>

  <form [formGroup]="childForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <!-- Nombre -->
    <div class="flex flex-col">
      <label for="name" class="mb-2 text-sm font-medium text-gray-700">Nombre:</label>
      <input id="name" formControlName="name" type="text"
        class="border border-gray-300 p-2 rounded-lg w-full focus:ring focus:ring-blue-200 focus:border-blue-500"
        placeholder="Escribe el nombre" aria-label="Nombre del niño" />
    </div>

    <!-- Edad -->
    <div class="flex flex-col">
      <label for="age" class="mb-2 text-sm font-medium text-gray-700">Edad:</label>
      <input id="age" type="number" formControlName="age"
        class="border border-gray-300 p-2 rounded-lg w-full focus:ring focus:ring-blue-200 focus:border-blue-500"
        placeholder="Escribe la edad" aria-label="Edad del niño" />
    </div>

    <!-- Departamento -->
    <div class="flex flex-col">
      <label for="department" class="mb-2 text-sm font-medium text-gray-700">Departamento:</label>
      <select id="departmentId" formControlName="departmentId" [(ngModel)]="selectedDepartmentId"
        (change)="onDepartmentChange($event)"
        class="border border-gray-300 p-2 rounded-lg w-full focus:ring focus:ring-blue-200 focus:border-blue-500">
        <option value="">Seleccione un departamento</option>
        <option *ngFor="let department of departments" [value]="department?.id">
          {{ department?.name }}
        </option>
      </select>
    </div>

    <!-- Municipio -->
    <div class="flex flex-col">
      <label for="municipality" class="mb-2 text-sm font-medium text-gray-700">Municipio:</label>
      <select id="municipalityId" formControlName="municipalityId"
        class="border border-gray-300 p-2 rounded-lg w-full focus:ring focus:ring-blue-200 focus:border-blue-500">
        <option *ngFor="let municipality of municipalities" [value]="municipality?.id">{{ municipality?.name }}</option>
      </select>
    </div>

    <!-- Botón de actualización -->
    <div class="text-center">
      <button type="submit"
        [disabled]="childForm.invalid"
        class="bg-green-500 text-white px-4 py-2 rounded-lg w-full hover:bg-green-600 disabled:bg-gray-300 disabled:cursor-not-allowed transition-colors duration-300 ease-in-out">
        Actualizar Niño
      </button>
    </div>
  </form>
</div>
